form {
    width: 90%;
    border-radius: 2%;
    max-width: 300px;
    background-color: #fff;
    padding: 33px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #1e1e1f;
    margin-bottom: 26px;
}

textarea {
    background-color: #f9fbfc;
    border: 2px solid #648cdc;
    border-radius: 2%;
    box-shadow: 0px 5px 50px rgba(32,35,41,.25);
    color: #1e1e1f;
    font-size: 20px;
    text-align: center;
    padding: 12px;
    height: 80px;
    width: calc(100% - 25px);
}

textarea::placeholder {
    color: #a5a5a5;
    font-family: 'Montserrat';
    font-weight: 400;
}

textarea:focus {
    outline-color: #61dafa;
}

.TodoForm-button--container {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.TodoForm-button {
    cursor: pointer;
    border-radius: 5%;
    display: inline-block;
    font-size: 20px;
    color: #162035;
    font-weight: 400;
    width: 120px;
    height: 48px;
    border: none;
    font-family: 'Montserrat';
}
.button--add {
    background: #61dafa;
    box-shadow: 0px 5px 25px rgba(97,218,250,.5);
}

.button--cancel {
    background: transparent;
    box-shadow: 0px 5px 25px rgba(97,218,250,.5);
}